.daftar {
	background-image: url('../img/background.jpg');
	background-size: cover;
	width: 100% ;
	height: 768px;
}

.daftar div {
	border: 1px solid black;
	width: 466px;
	height: 471px;
	margin: auto;
	display: flex;
	flex-flow: column; 	
	justify-content: center;
	align-items: center;
}

.daftar div label {
	font-size: 23px;
    color : #A3ACE4;

}

.daftar div label b {
    font-size: 23px;
    color: #A3ACE4;
    height: 23px
    width: 110px;
}
.daftar div input{
	width: 200px;
}

